@import url("/home/nixos/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0; 
    font-family:  "CodeNewRoman Nerd Font Propo", "JetBrainsMono Nerd Font", sans-serif; 
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @background; 
    color: @foreground;            
    opacity: 1.0;                 
}

#workspaces {
    background: transparent;
    margin: 0;
    padding: 0;
}

#workspaces button {
    padding: 0 12px;
    background: transparent;
    color: @color8; 
    border-bottom: 2px solid transparent;
    border-radius: 0;
}

#workspaces button.active {
    color: @foreground;
    background-color: @color0; 
    border-bottom: 2px solid @color4; 
}

#workspaces button:hover {
    background: @color1; 
    color: @background;
}

#window {
    padding: 0 15px;
    color: @foreground;
    background: transparent;
}

#tray,
#language,
#pulseaudio,
#memory,
#cpu,
#temperature,
#clock,
#custom-power {
    padding: 0 12px;
    background: transparent;
    color: @foreground;
}

#cpu {
    color: @color1; 
}
#memory {
    color: @color2; 
}
#temperature {
    color: @color3; 
}
#temperature.critical {
    background-color: @color1; 
    color: @background;
}
#pulseaudio {
    color: @color4; 
}
#pulseaudio.muted {
    color: @color8; 
}
#language {
    color: @color5; 
}
#clock {
    color: @color6; 
    font-weight: bold;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-power {
    color: @color1;
    font-size: 16px;
    padding: 0 15px;
}

#custom-power:hover {
    background: @color1;
    color: @background;
}
